<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>

<body>
    <h1>Upload File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a file:</label><br>
        <input type="file" id="file" name="files" multiple><br><br>

        <label for="op_id">Operation:</label><br>
        <select id="op_id" name="op_id">
            <option value="1">EDGE_DETECTION</option>
            <option value="2">COLOR_INVERSION</option>
            <option value="3">CONTRAST_ADJUSTMENT</option>
        </select><br><br>

        <input type="submit" value="Upload">
    </form>
</body>

</html>