<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing Interface</title>
    <link href="/static/fa/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/fa/css/brands.css" rel="stylesheet" />
    <link href="/static/fa/css/solid.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='gui.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='gui.js') }}"></script>


    <script>
        var socket = io();

        // Specify the client ID when connecting
        var processes_ids = window.location.pathname.split('/').pop(); // Extract the last part of the URL path
        var idsArry = processes_ids.split(",")
        socket.on('connect', function () {
            socket.emit('track', idsArry);
        });

        var finished_processing = false;

        socket.on('start_tracking', function (data) {
            console.log(data)
            // TODO: - Handle progress visually 
            let process_id = data.id;
            let num_of_nodes = data.num_of_nodes;
            let operation = data.operation;
            let state = data.state;
            let uploaded_file_name = data.uploaded_file_name;
            let num_of_succeeded_nodes = data.num_of_succeeded_nodes;

            addProcess(process_id, num_of_nodes, operation, state, uploaded_file_name, num_of_succeeded_nodes)
        });

        socket.on('process_started', function (data) {
            // TODO: - Handle progress visually 
            let process_id = data.id;
            let num_of_nodes = data.num_of_nodes;
            processStarted(process_id)
        });

        socket.on('progress_update', function (data) {
            // if (finished_processing) { return }
            // TODO: - Handle progress visually 
            let process_id = data.id;
            let progress = data.progress;
            console.log(progress)
            processProgress(process_id, progress)
        });

        socket.on('process_failed', function (data) {
            finished_processing = true;
            let process_id = data.id;
            // TODO: - Handle process faliure here 
            var contentDiv = document.getElementById('status');
            contentDiv.innerHTML = 'PROCESSING FAILED';
        });

        socket.on('process_done', function (data) {
            console.log("as888")
            finished_processing = true;
            let process_id = data.id;
            // TODO: - Handle process faliure here 
            var downloadLink = "../processed_imgs/" + process_id + ".png";

            processCompletion(process_id, downloadLink)
        });
    </script>
</head>

<body>
    <div id="container">

    </div>

    <script src="gui.js"></script>
</body>

</html>